---
const { url, slug, external_url, title, tags, description, date } = Astro.props;
---

<li class="post">
  {!!external_url 
    ? <a class="title" href={external_url} target="_blank">{title}</a>
    : <a href={`/post/${slug}/`} class="title">{title}</a>
  }
	<time datetime={date}>
		{
			new Date(date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</time>
	<br />
	{description && <span class="excerpt">{description}</span>}
	<div>
		{
			tags &&
				tags.map((tag) => (
					<a class="tag" href={`/tag/${tag}`}>
						#{tag}
					</a>
				))
		}
	</div>
</li>
